@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.main {
  padding: 5rem;
  max-width: 120rem;
  margin: 18rem auto;

  h1 {
    font-size: 3.5rem;
    padding-bottom: 1rem;
    text-align: center;
  }

  p {
    font-size: 2rem;
    text-align: center;
    color: #747474;
  }

  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    margin-top: 8rem;


    .card {
      background-color: #fff;
      padding: 4rem 3rem;
      width: 100%;
      border-radius: 18px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8rem;

      @include lg {
        flex-direction: column;
        gap: 3rem;
      }

      &:hover {
        border: 1px solid #d9e1ff;
      }

      .texts {
        margin: auto 0;

        .title {
          font-size: 3.5rem;
          font-weight: 900;
          color: rgb(8, 10, 71);
          text-align: left;
          margin-bottom: 20px;

          @include sm {
            font-size: 2rem;
          }
        }

        .description {
          font-size: 2rem;
          text-align: left;

          @include sm {
            font-size: 1.5rem;
          }

          color: #747474;
          line-height: 1.5em;
        }

        .talkButton {
          width: 20rem;
          min-height: 50px;
          border-radius: 10px;
          overflow: hidden;
          cursor: pointer;
          position: relative;
          margin-top: 20px;
          .circle {
            height: 100%;
            width: 100%;
            -webkit-clip-path: circle(0% at 100% 0%);
            clip-path: circle(0% at 100% 0%);
            position: absolute;
            right: 0;
            transition: all 0.3s ease-in-out;
          }

          &:hover .circle {
            -webkit-clip-path: circle(100%);
            clip-path: circle(100%);
          }

          p {
            font-size: 1.8rem;
            font-weight: 500;
            color: rgb(8, 10, 71);
            padding: 22px 25px;
            position: relative;

            @include sm {
              font-size: 12px;
              padding: 20px 10px;
            }
          }
        }
      }

      .image {
        margin: 5px 0;
        // img {
        .lottie {
          max-width: 55rem;
          aspect-ratio: 1/1;
          mix-blend-mode: multiply;
          @include lg{
            max-width: 35rem;
          }
          @include md {
            max-width: 25rem;
          }

          @include sm {
            max-width: 22rem;
          }
        }
      }
    }
  }
}