@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.main {
  max-width: 120rem;
  min-height: 70vh;
  box-shadow: 0 0 3px #ccc;
  padding: 2rem;
  margin: 100px auto 0px;

  p {
    @include font(inherit, 2rem, $weight-semibold);
    text-align: end;
  }

  .form {
    @include flex(flex-start, flex-start, column, 5rem);
    width: 60%;
    margin-left: 20%;
    padding: 3rem;

    @include lg {
      width: 100%;
      margin-top: 10px;
      margin-left: 0;
    }

    .input {
      width: 100%;

      p {
        @include font(inherit, 2.5rem, $weight-semibold);
        text-align: center;
      }

      .options {
        @include flex(center, space-evenly, row, null);
        margin-top: 3.3rem;

        .option {
          display: inline;
          text-align: center;
          @include font(inherit, 1.8rem, $weight-normal);
          transition: all 0.7 ease-in-out;

          img {
            height: 15rem;
            width: 15rem;
            cursor: pointer;
            display: block;
            opacity: 0.7;
            margin-bottom: 10px;
            border: 1px solid black;
            border-radius: 50%;
            padding: 2px;
            transition: all 0.7 ease-in-out;

            &.opacity {
              opacity: 1;
            }

            &:hover {
              opacity: 0.9;
              transform: scale(1.02);
            }
          }

          &:hover {
            font-weight: $weight-semibold;
          }
        }
      }
    }

    .name {
      width: 100%;

      label {
        @include font(inherit, 1.8rem, $weight-normal);
      }

      input {
        width: 100%;
        height: 6rem;
        padding: 1rem 3rem;
        margin: 20px 0;
        letter-spacing: 0.5px;
        outline: none;
        border: none;
        border-radius: $border-lg;
        background-color: #f1f1f1;
        font-size: 1.6rem;
        transition: background-color 0.2s ease-in-out;

        &:hover {
          background-color: #e6e4e4;
        }
      }
    }

    .buttons {
      @include flex(center, space-evenly, row, null);
      width: 100%;

      .btn {
        @include flex(center, center, null, 10px);
        height: 5rem;
        width: 15rem;
        color: $light;
        font-weight: $weight-semibold;
        font-size: 1.7rem;
        letter-spacing: 0.5px;
        outline: none;
        background-color: $secondary-light;
        transition: background-color 0.2s ease-in-out;
        border: none;
        border-radius: $border-lg;
        pointer-events: all;
        opacity: 1;
        cursor: pointer;

        &.disabled {
          pointer-events: none;
          opacity: 0.4;
        }

        &:hover {
          background-color: $primary-light;
        }
      }
    }
  }
}
