@import "./../../styles/mixins";
@import "./../../styles/variables";

.main {
  max-width: 120rem;
  @include flex(center, center, column, 4rem);
  margin: 100px auto 10px;
  min-height: 550px;
  padding: 5rem;
  box-shadow: 0 0 3px #ccc;

  @include xs {
    min-height: 470px;
  } 
  
  @include sm {
    min-height: 470px;
  }

  @include md {
    min-height: 450px;
  }

  .usersName {
    font-size: 2.5rem;
  }

  .searchingPage {
    // @include position(absolute, 50%, null, 50%, null, -50%, -50%);
    padding: 15px 20px;
    border-radius: $border-sm;
    outline: none;
    border: 1px solid $grey-100;
    cursor: pointer;
    font-size: $font-xl;
    background: $secondary-light;
    color: $light;
    font-weight: $weight-medium;
    transition: all 0.3s;

    &:hover {
      background: $primary-light;
    }

  }
}
